<ng-container *ngIf="book$ | async as book">
  <p>{{ book.title }}</p>
  <p>{{ book.subtitle }}</p>
  <p>
    Publisher: <a [href]="book.publisher.url">{{ book.publisher.name }}</a>
  </p>
</ng-container>
